jb-buy-verify-email{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.self-vertical-aligned {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
}
