<!--
  Generated template for the TransactionDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transaction Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="transaction-detail">
    <div class="transaction-detail__content">
      <div class="transaction-detail__name">{{ transaction.name }}</div>
      <div class="transaction-detail__values"
           [ngClass]="{'completed': transaction.status === 'completed', 'pending': transaction.status === 'pending'}">
        <div class="transaction-detail__values-info" *ngIf="transaction.valueInfo.info && (transaction.valueInfo.info !== '')">
          {{ transaction.valueInfo.info }}
        </div>
        <div class="wallet-card__price-value">
          {{ transaction.valueInfo.value | number:'.1-20' }} {{ transaction.valueInfo.currency }}
        </div>
      </div>
      <div class="transaction-detail__list">
        <div class="transaction-detail__list-item" *ngFor="let item of transaction.listInfo">
          <div class="transaction-detail__list-title">
            {{ item.title }}
          </div>
          <div class="transaction-detail__list-info" [ngSwitch]="item.title">
            <span *ngSwitchCase="'Date'">{{ item.value*1000 | date: 'medium' }}</span>
            <span *ngSwitchCase="'To'" class="smaller">{{ item.value }}</span>
            <span *ngSwitchDefault>{{ item.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="transaction-detail-footer">
    <div class="transaction-detail-footer__link">Repeat this Payment</div>
    <div class="transaction-detail-footer__link">Ask a Question</div>
  </div>

</ion-content>
