

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: local('Roboto'), url('../assets/fonts/Roboto-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local('Roboto'), url('../assets/fonts/Roboto-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'), url('../assets/fonts/Roboto-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto'), url('../assets/fonts/Roboto-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto'), url('../assets/fonts/Roboto-Bold.otf') format('opentype');
}

//Rubik

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    src: local('Rubik'), url('../assets/fonts/Rubik-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    src: local('Rubik'), url('../assets/fonts/Rubik-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src: local('Rubik'), url('../assets/fonts/Rubik-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    src: local('Rubik'), url('../assets/fonts/Rubik-Bold.otf') format('opentype');
}

