.buy-confirmation{
    .content-card:first-of-type{
        padding-top: 36px;
    }
    &__title{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.6px;
        margin: 8px 0 10px 0 !important;
    }
    &__status{
        display: inline-block;
        color: #fff;
        background-color: #0a94f1;
        border-radius: 12px;
        line-height: 24px;
        height: 24px;
        padding: 0 8px;
        margin-top: -6px;
    }
    &__paragraph{
        font-size: 14px;
        line-height: 1.43;
        padding-bottom: 16px;
    }
}
