.enter-code {

    &__text {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        color: color($colors, dark);
    }
    &__form {

    }
    .loading-info {

    }
}
