<div>
    <ion-input name="password"
               type="password"
               [class.fuck]="!isLeast"
               (ionChange)="checkPassword()"
               jbInputOnFocus
               [formControl]="control"></ion-input>

    <div *ngIf="validatorService.isErrored(control) "
         [@SlideIn]
         class="main-form__validator-error">
        Please enter correct password.
    </div>

</div>

<div>
    <ul class="check-password" *ngIf="control.value && !isLeast" [@SlideIn]>

        <li>At least</li>
        <li [class]="passwordChecker['lowerCase'] ? 'active':''">1 lowercase character</li>
        <li [class]="passwordChecker['upperCase'] ? 'active':''">1 uppercase character</li>
        <li [class]="passwordChecker['oneSpecial'] ? 'active':''">1 special symbol</li>
        <li [class]="passwordChecker['oneNumber'] ? 'active':''">1 number</li>
        <li [class]="passwordChecker['minChar'] ? 'active':''">8 characters</li>

    </ul>
</div>


