

<ion-header *ngIf="!(curData.isVerified && curData.finalStep)"
            [@VisibilityChanged]>

    <ion-toolbar>

        <ion-buttons start>
            <button ion-button
                    type="button"
                    color="primary"
                    icon-only
                    (click)="closeModal()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            {{ curData.title ? curData.title : 'Verify telephone' }}
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content padding>

    <div *ngIf="!curData.isVerified">

        <!--levels-->
        <div class="levels">

            <!--levels__item-->
            <div class="levels__item">

                <!--levels__item-cards-->
                <div class="levels__item-cards">

                    <!--levels__item-card-->
                    <div class="levels__item-card">

                        <!--levels__item-form-->
                        <form class="levels__item-form main-form"
                              [formGroup]="phoneVereficationForm"
                              (ngSubmit)="getCode()">

                            <fieldset>

                                <ion-label stacked>Your phone number</ion-label>

                                <!--main-form__searchbar-->
                                <div class="main-form__searchbar phone">

                                    <ion-input type="tel"
                                               name="phoneNumber"
                                               jbInputOnFocus
                                               placeholder="+xx (xxx) xxx xx xx"
                                               jbTelMask="+99 (999) 999 99 99"
                                               [formControl]="phoneVereficationForm.controls['phoneNumber']"></ion-input>

                                    <button (click)="toSearchBar({controlName: 'phoneNumber', type: 'phone'})"
                                            type="button">
                                        <img src="../assets/flags/4x3/{{ phoneData.country }}.svg">
                                    </button>

                                </div>
                                <!--/main-form__searchbar-->

                                <div *ngIf="validatorService.isErrored(phoneVereficationForm.controls['phoneNumber'])"
                                     [@SlideIn]
                                     class="main-form__validator-error">
                                    Please enter phone.
                                </div>

                            </fieldset>

                        </form>
                        <!--/levels__item-form-->

                        <button ion-button small block
                                type="button"
                                [class.spinner]="isLoad"
                                [disabled]="!phoneVereficationForm.valid"
                                (click)="getCode()">
                            get verification code
                        </button>

                    </div>
                    <!--/levels__item-card-->

                </div>
                <!--/levels__item-cards-->

            </div>
            <!--/levels__item-->

        </div>
        <!--/levels-->

        <!--note-->
        <div class="note">

            <!--note__title-->
            <h3 class="note__title">Note</h3>
            <!--/note__title-->

            <p>
                We will send you an SMS with a 6 digit confirmation code, please enter the code into the corresponding field.
            </p>

            <p>
                Receiving SMS code could take up to 1 min, please be patient.
            </p>

            <p>
                In the event that you did not receive an SMS from us please request it again or contact our support.
            </p>

        </div>
        <!--/note-->
    </div>

    <!--success-msg-->
    <div class="success-msg full-page"
         [class.fixed]="curData.finalStep"
         *ngIf="curData.isVerified"
         [@VisibilityChanged]>

        <ion-content>

            <!--success-msg__centered-->
            <div class="success-msg__centered">

                <!--success-msg__icon-->
                <div class="success-msg__icon">
                    <img width="128" height="128" src="../assets/imgs/telephone-verified.svg" alt="">
                </div>
                <!--/success-msg__icon-->

                <!--success-msg__title-->
                <h2 class="success-msg__title">
                    Your Phone Number Was Verified
                </h2>
                <!--/success-msg__title-->

            </div>
            <!--/success-msg__centered-->

        </ion-content>

        <ion-footer>

            <div class="footer__wrap">

                <button *ngIf="!curData.finalStep" ion-button block
                        (click)="nextStep()"
                        type="button">
                    proceed to address verification
                </button>

                <button *ngIf="curData.finalStep" ion-button block
                        (click)="closeModal()"
                        type="button">
                    Got It
                </button>

            </div>

        </ion-footer>

    </div>
    <!--/success-msg-->

</ion-content>
