//blockCentered
@mixin blockCentered() {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

//absolutePosition
@mixin absolutePosition() {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

//absoluteCenter
@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteCenterX() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absoluteCenterY() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//transform
@mixin transform-translate( $posX, $posY ) {
    -webkit-transform: translate($posX, $posY);
    transform: translate($posX, $posY);
}

@mixin transform-rotate( $deg ) {
    -webkit-transform: rotate($deg + deg);
    transform: rotate($deg + deg);
}

@mixin transform-scale( $num ) {
    -webkit-transform: scale($num);
    transform: scale($num);
}
