
.privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    font-family: $roboto-font;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: normal;
    color: color($colors, dark-blue-grey);

    &__text {
        flex: 0 0 70%;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: color($colors, primary);
    }
    .toggle-ios {
        padding: 6px 0;
    }
}
