.use-card-info {
    display: flex;
    align-items: center;

    &__text {
        width: 50%;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: color($colors, dark);

        p {
            margin: 0;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 50%;

        img {
            margin: 8px 0 8px 8px;
        }
    }
}